:root {
    --blue-color: #4581F6;
    --navy-color: #002265;
    --black-color: #07253C;
    --text-color: #14279B;
    --button-color: #608AF5;
    --white: #FFFFFF;
}

* {
    font-family: 'Poppins';
    margin: 0px;
    padding: 0px;
    color: var(--black-color);
    text-align: center;
    z-index: 2;
}

nav{
    padding: 20px 40px 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
nav .logo{
    color: var(--navy-color);
    font-size: medium;
}

nav .logo span{
    font-weight: 800;
}
nav a{
    text-decoration: none;
    margin: 15px;
    transition: all .5s ;
}
nav a:hover{
    color: var(--blue-color);
}
nav .links{
    display: flex;
    align-items: center;
}
nav .select{
    color: var(--blue-color);
    text-decoration: underline;
    font-weight: 800;
}

nav .button-contact{
    background-color: var(--button-color);
    color: var(--white);
    padding: 10px;
    border-radius: 10px;
    font-weight: 800;
    cursor: pointer;
    margin: 15px;
    transition: all .5s ;
}
nav .button-contact:hover{
    background-color: var(--navy-color);
}

.about .desc-image{
    width: 30vw;
    min-width: 400px;
    padding: 10px;
}
.about{
    padding: 20px 60px 20px 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    flex-wrap: wrap-reverse;
}
.about .desc{
    width: 50vw;
    min-width: 400px;
}

.about .desc .salut{
    color: var(--navy-color);
    font-size: 25px;
}

.about .desc .presentation{
    color: var(--navy-color);
    font-size: 32px;
    font-weight: 900;
}

.title{
    color: var(--navy-color);
    font-weight: 800;
    font-size: 22px;
    margin: 40px;
}
.title span{
    color: var(--text-color);
    font-weight: 300;
}
.passion{
    width: 20vw;
    min-width: 200px;
    padding: 10px;
    border-radius: 10px;
    box-shadow:0px 0px 20px #00000031 ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 400;
    margin: 20px;
}
.passion .text span{
    font-weight: 700;
}
.passion .subtext{font-size: 14px;
}
.passion img{
    width: 15vw;
}








.section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    flex-wrap: wrap;
}
.contact .contact-links, .passions-container{
    margin: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    flex-wrap: wrap;
}
.contact .link .img{
    width: 15vw;
    min-width: 200px;
    margin: 20px;
}

footer{
    background-image: url(./assets/images/wave.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 98.7vw;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: var(--white);
    padding-bottom: 20px;
}

.background{
    position: absolute;
    width: 98.7vw;
    overflow: hidden;
    z-index: 1;
}
.background-item{
    width: 120px;
    height: 120px;
    background-color: #608af55e;
    position: relative;
    border-radius: 30px 70px 90px 70px;
    filter: blur(2rem);
}